@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

.nav{
    background-color: #ffffff27;
    backdrop-filter: blur(10px);
}
.start{
    transition: all 0.2s ease;
}
.parent:hover .start{
    background-color: white;
    color: black;
}

.hero-text{
    letter-spacing: -8px;
}

@media (max-width: 640px) {
  .hero-text {
    letter-spacing: -3px;
  }
}

::selection{
    background-color: #CFEC6E;
    color: rgb(24, 24, 24);
}